/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap");

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
  background-color: #f8f7f7;
}

/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 85vh;
  top: 0;
  left: 0;
  background: linear-gradient(
      to right bottom,
      rgba(112, 164, 248, 0.45),
      rgba(1, 59, 153, 0.45)
    ),
    url("dan-c-bwbg.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.header-name {
  position: absolute;
  font-family: "Bonheur Royal", cursive;
  font-size: 3em;
  color: rgb(188, 188, 190);
  top: 30px;
  left: 70px;
  text-shadow: 3px 3px 5px rgba(18, 27, 37, 0.8);
}

ul {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
}

li {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  padding: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: whitesmoke;
}

a:hover {
  font-size: 1.8rem;
  font-style: italic;
  text-shadow: 3px 2px 3px lightslategrey;
}

main {
  padding-top: 2rem;
}
